.results
    
    margin-bottom: 100px
    @media (min-width: 320px)
        width: 290px
        margin-top: 70px
    @media (min-width: 480px)
        width: 450px
        margin-top: 90px
    @media (min-width: 768px)
        width: 738px
        margin-top: 140px
    @media (min-width: 1000px)
        width: 901px
        margin-top: 140px
    @media (min-width: 1440px)
        width: 1140px
        margin-top: 160px
.products
    margin: 0 auto
    justify-content: space-between
    display: flex
    gap: 15px
    flex-wrap: wrap
    
    
.sizeCard
    
    width: calc( 33% - 10px )

@media (max-width: 768px)
    .sizeCard
        width: calc( 33% + 25px )
@media (max-width: 320px)
    .sizeCard
        width: calc( 50% - 10px )