.searcdiv
    width: 100%
    background: #FFF
    height: 75px
    display: flex
    margin: 0 auto
    position: fixed
    top: 0
    margin-top: 80px
    z-index: 10000000
    justify-content: center
    transition: .4s linear
    transform: translateY(-200%)
    &_open
        transform: translateY(0)
       
.searcinput
    width: 562px
    height: 56px
    border-color: #FDA3C4
    border-radius: 10px
    font-size: 25px
    font-family: Montserrat 
    position: absolute
    display: flex
    
input
    padding: 0 40px
    color: #FDA3C4
    font-family: Montserrat
    font-size: 25px
    font-style: italic
    font-weight: 200
    line-height: 30.48px
    text-align: left
input::placeholder
    color: #909090
    
.searchIcons
    display: flex
    align-items: center
    position: relative
    right: 260px
    width: 24px
    height: 56px

.SearchProductIcon
    width: 24px
    height: 24px

