.searcdiv
    @media (min-width: 320px)
        margin-top: 51px
    @media (min-width: 480px)
        margin-top: 51px
    @media (min-width: 768px)
        margin-top: 104px
    @media (min-width: 1000px)
        margin-top: 104px
    @media (min-width: 1140px)
        margin-top: 104px
    width: 100%
    background: #FFF
    height: 100px
    display: flex
    align-items: center
    margin: 0 auto
    position: fixed
    top: 0
    margin-top: 104px
    z-index: -1
    justify-content: center
    transition: .5s linear
    transform: translateY(-200%)
    &_open
        transform: translateY(0)
       
.searcinput
    width: 562px
    height: 56px
    border: 2px solid #FDA3C4
    border-radius: 10px
    font-size: 25px
    font-family: Montserrat 
    position: absolute
    display: flex
    
input
    padding: 0 50px
    color: #FDA3C4
    font-family: Montserrat
    font-size: 25px
    font-style: italic
    font-weight: 200
    line-height: 30.48px
    text-align: left
input::placeholder
    color: #909090
    
.searchIcons
    display: flex
    align-items: center
    position: relative
    right: 245px
    width: 26px
    height: 56px

.SearchProductIcon
    width: 24px
    height: 24px
.searchBtn
    position: relative
    height: 24px
    width: 24px
    left: 240px
    cursor: pointer
    &:hover
        opacity: 0.6
    

