body
    margin: 0

.wrapper
    max-width: 1140px
    margin: 0 auto

img
    width: inherit
    height: inherit
    margin: 0
    border-radius: inherit

.instagramMainWrap
    display: flex
    gap: 6px
    margin: 27px 60px
    @media (max-width: 1000px)
        margin: 113px 27px
        @media (max-width: 768px)
            margin: 113px 10px
