.mobileMenu
    @media (max-width: 780px)
        position: fixed
        left: 0
        right: 0
        bottom: 0
        z-index: 10000
        background-color: #FFFFFF
        box-shadow: 0px 10px 30px #000000
        

    @media (min-width: 768px)
        display: none

.mobileMenuItem
    width: 41px
    cursor: pointer
.mobileMenuItems
    display: flex
    justify-content: space-between
    width: 284px
    margin: 0 auto

   

    
.mobileMenuItemText
    font-size: 11px
.allSumBasket
    font-family: Montserrat
    font-size: 13px
    color: #f5f2f2
    height: 16px
    min-width: 16px
    z-index: 3
    background-color:  #F40000
    border: 10px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 20px
    margin-left: 19px
    position: fixed
    margin-top: -50px
    position: fixed

.mobileMenuBasket
    stroke: #FDA3C4




    


