.categoryProduct
    position: relative
    margin: 0 auto
    margin-top: 160px
    @media (min-width: 320px)
        width: 290px
        margin-top: 11px

    @media (min-width: 480px)
        width: 450px
        margin-top: 11px
    @media (min-width: 768px)
        width: 738px
        margin-top: 151px
    @media (min-width: 1000px)
        width: 901px
        margin-top: 151px
    @media (min-width: 1440px)
        width: 1140px
.categoryProductBlock
    justify-content: space-between

.filterCards
    display: flex
    margin-top: 60px
.newItemsCards
    width: 100%
.newItemsCardsBox
    display: flex
    gap: 10px
    width: 100%
    margin: 15px 0
@media (max-width: 480px) 
    .newItemsCardsBox 
        display: block
.newItemsCardsBoxDelete
    display: flex
    gap: 10px
    width: 100%
    margin: 15px 0
@media (max-width: 480px) 
    .newItemsCardsBoxDelete 
        display: none
.newItemsCardsBoxDelete2
    display: none
@media (max-width: 768px) 
    .newItemsCardsBoxDelete2 
        display: flex
        gap: 10px
        width: 100%
        margin: 15px 0
@media (max-width: 480px) 
    .newItemsCardsBoxDelete2
        display: none