.placingOrder
    margin: 0 auto
    
    
    @media (min-width: 1000px)
        width: 855px
        margin-top: 150px
       
       

    @media (min-width: 771px)
        margin-top: 150px
       
        width: 473px
    @media (min-width: 480px)
        margin-top: 150px
        width: 333px
    


.text
    position: absolute
    color: #FFF
    font-family: "Sunday Best"
    font-size: 11px
    font-weight: 400
    text-transform: uppercase
    margin-top: 6px

.basketBtn
    width: 160px
    margin-left: 230px
    margin-top: 50px
    display: flex
    justify-content: center
    position: relative
    cursor: pointer
    border: none
.basketBtn:active svg path
  fill: #F40000

.infa
    display: flex
    flex-direction: column
    gap: 41px
