.placingOrder
    max-width: 1088px
    margin: 150px auto
    @media (max-width: 1200px)
        padding-left: 50px

.text
    position: absolute
    color: #FFF
    font-family: "Sunday Best"
    font-size: 11px
    font-weight: 400
    text-transform: uppercase
    margin-top: 6px

.basketBtn
    width: 160px
    margin-left: 230px
    margin-top: 50px
    display: flex
    justify-content: center
    position: relative
    cursor: pointer
    border: none

.infa
    display: flex
    flex-direction: column
    gap: 41px
