.button
    background: url("../../assets/img/images/pinkback.svg") no-repeat center
    background-size: contain
    display: flex
    justify-content: center
    align-items: center
    width: 180px
    height: 60px
    // max-width: 210px
    font-family: 'SundayBest'
    font-size: 14px
    color: #fff
    cursor: pointer

    

@media screen and (max-width: 1140px)
    .button
        width: 170px
        height: 60px
        font-size: 14px
        margin: 0 auto

@media screen and (max-width: 768px)
    .button
        width: 140px
        height: 41px
        font-size: 12px

@media screen and (max-width: 480px)
    .button
        // width: 100px
        // height: 30px
        font-size: 12px

@media screen and (max-width: 380px)
    .button
        // width: 90px
        // height: 25px
        font-size: 12px

.button
    font-family: "Sunday Best"
    font-weight: 400
