.title
    color: #FDA3C4
    font-family: "Sunday Best"
    font-weight: 400
    position: relative
    display: flex
    align-items: flex-end
    @media (min-width: 320px)
        font-size: 26px
       
    @media (min-width: 480px)
        font-size: 36px

    @media (min-width: 768px)
        font-size: 54px
    @media (min-width: 1000px)
        font-size: 54px

    @media (min-width: 1440px)
        font-size: 54px
        

.subTitle
    color: #1F1F1F
    font-family: Montserrat
    font-size: 25px
    font-weight: 600
    text-transform: uppercase
    position: absolute
    display: flex
    align-items: center
    gap: 17px

    

    

    



