.categoryProduct
    position: relative
    margin: 0 auto
    margin-top: 160px
    @media (min-width: 320px)
        width: 290px
        margin-top: 11px

    @media (min-width: 480px)
        width: 450px
        margin-top: 11px
    @media (min-width: 768px)
        width: 738px
        margin-top: 151px
    @media (min-width: 1000px)
        width: 901px
        margin-top: 151px
    @media (min-width: 1440px)
        width: 1140px
.categoryProductBlock
    justify-content: space-between
   

.filterCards
    display: flex
    margin-top: 60px
    justify-content: space-between

.newItemsCards
    width: 919px
    justify-content: space-between
    display: flex
    gap: 15px
    flex-wrap: wrap

.sizeCard
    width: calc( 50% - 10px )

@media (max-width: 480px)
    .sizeCard
        max-width: 350px
        width: 100%
        margin: 0 auto
        margin: 0 10px

@media (max-width: 480px)
    .deleteCard1
        display: none

@media (max-width: 320px)
    .deleteCard2
        display: none

.textDelete
    font-family: Sunday Best
    font-size: 20px
    font-weight: 400
    line-height: 68.83px
    margin-left: 100px
