.cardBox
    width: 100%
    position: relative

.likeBox
    position: absolute
    top: 20px
    right: 20px
    width: 27px

@media (max-width: 1000px) 
    .likeBox 
        width: 23px
    

@media (max-width: 480px) 
    .likeBox 
        width: 21px
    

@media (max-width: 320px) 
    .likeBox 
        width: 17px

.cardImg
    display: block
    object-fit: cover
    width: 100%
    height: 100%
    position: absolute
    top:0

.cardLine
    height: 0px
    border: 2px solid #FDA3C4

.cardDescription
    max-width: 320px
    justify-content: space-between
    align-items: center
    margin: 0 auto
    display: flex
    gap: 7px
    padding: 27px 0

.cardText
    font-family: Montserrat
    font-size: 16px
    font-weight: 400
    line-height: 19.5px
    text-align: left

@media (max-width: 1000px) 
    .cardText 
        font-size: 14px
    
@media (max-width: 480px) 
    .cardText 
        font-size: 12px
    
@media (max-width: 320px) 
    .cardText 
        font-size: 10px
    
.cardPrice
    font-family: Montserrat
    font-size: 24px
    font-weight: 700
    line-height: 29.26px
    text-align: left
    color: #FDA3C4

@media (max-width: 1000px) 
    .cardPrice 
        font-size: 19.5px
    
@media (max-width: 480px) 
    .cardPrice 
        font-size: 14px  

@media (max-width: 320px) 
    .cardPrice 
        font-size: 10px   

.cardText2
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    line-height: 17.07px
    text-align: left

@media (max-width: 1000px) 
    .cardText2 
        font-size: 12px
        line-height: 14px

@media (max-width: 768px) 
    .cardText2 
        font-size: 10px
        line-height: 12px

@media (max-width: 480px) 
    .cardText2 
        font-size: 12px
        line-height: 14px

@media (max-width: 320px) 
    .cardText2 
        font-size: 10px
        line-height: 12px

.cardPrice2
    font-family: Montserrat
    font-size: 16px
    font-weight: 600
    line-height: 19.5px
    text-align: right

@media (max-width: 1000px) 
    .cardPrice2 
        font-size: 14px
        line-height: 17px
    
@media (max-width: 768px) 
    .cardPrice2 
        font-size: 11px
        line-height: 13px
    
@media (max-width: 480px) 
    .cardPrice2 
        font-size: 14px 
        line-height: 17px 

@media (max-width: 320px) 
    .cardPrice2 
        font-size: 10px 
        line-height: 12px

.cardText3
    font-family: Montserrat
    font-size: 16px
    font-weight: 400
    line-height: 19.5px
    text-align: left

@media (max-width: 1000px) 
    .cardText3 
        font-size: 16px
        line-height: 19px

@media (max-width: 768px) 
    .cardText3 
        font-size: 14px
        line-height: 17px

@media (max-width: 480px) 
    .cardText3 
        font-size: 16px
        line-height: 19px

@media (max-width: 320px) 
    .cardText3
        font-size: 14px
        line-height: 17px

.cardPrice3
    font-family: Montserrat
    font-size: 24px
    font-weight: 700
    line-height: 29.26px
    text-align: left
   
@media (max-width: 768px) 
    .cardPrice3 
        font-size: 16px
        line-height: 19px
    
@media (max-width: 480px) 
    .cardPrice3 
        font-size: 20px 
        line-height: 24px 

@media (max-width: 320px) 
    .cardPrice3 
        font-size: 16px 
        line-height: 19px

.boxImg
    padding-top: 135%
    position: relative