.mobileHeader
    width: 100%
    border-bottom: 1px solid #FDA3C4
    background: #FFF
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100
    @media (min-width: 1140px)
        opacity: 0
        display: none
    @media (min-width: 1000px)
        opacity: 0
        display: none
    @media (min-width: 768px)
        opacity: 0
        display: none
    
.blocktwo
    background: #FFF
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    margin: 0 20px 0 20px
    @media (min-width: 1140px)
        opacity: 0
        display: none
    @media (min-width: 1000px)
        opacity: 0
        display: none
    @media (min-width: 768px)
        opacity: 0
        display: none
    @media (max-width: 480px)
        height: 50px
    
   
.phoneText
    color: #FDA3C4
    margin-left: 10px
    width: 121px
    font-family: Montserrat
    font-size: 10px
    font-style: italic
    font-weight: 700
    font-variant-numeric: lining-nums tabular-nums
    @media (max-width: 480px)
        font-size: 8px

.phoneContact
    display: flex
    align-items: center


     




    

   


    



    
