.basket
    height: 100vh
    width: 518px
    background-color: #fff
    position: fixed
    top: 0 
    right: 0
    transition: .3s linear
    transform: translateX(100%)
    z-index: 112
    &__wrap
        position: relative
    &_open
        transform: translateX(0)
        
.backdrop
    background-color: #000
    height: 100vh
    width: 100%
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 111
    opacity: 0
    pointer-events: none
    transition: .3s linear
    &_open
        opacity: .7
        pointer-events: all
        
        


