.submenu
    height: 48px
    background: #FFF
    position: absolute
    bottom: 0
    z-index: -1
    transition: .3s
    margin: 0 auto
    display: none
    @media (min-width: 768px)
        width: 738px
        display: flex
    @media (min-width: 1000px)
        width: 905px
        display: flex

    @media (min-width: 1440px)
        width: 1140px
        display: flex


    
.submenuBlock
    display: flex
    align-items: center
    justify-content: space-around
    width: 672px
    height: 48px
    margin: 0 auto
    @media (min-width: 1440px)
        width: 949px

.subList
    &:hover
        color: #FDA3C4
    color: #1F1F1F
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: normal
    background: #FFF
    pointer-events: all
.hidden
    bottom: 0
    z-index: 1
    opacity: 0
    pointer-events: none
.show
    bottom: -49px
    z-index: 1
    opacity: 1
    pointer-events: all


