.header{
    width: 100%;
    border-bottom: 1px solid #FDA3C4;
}
.block{
    height: 103px;
}
.blocktwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boorivaLogo{
    margin-left: 35px;
}
.blockthree{
    display: flex;
    width: 81px;
}


