.header
    width: 100%
    border-bottom: 1px solid #FDA3C4
    background: #FFF
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 10000

.block
    background: #FFF
    height: 35px
    z-index: 90
    overflow: hidden
    @media (min-width: 320px)
        height: 35px
        padding-top: 5px
        width: 290px
    
    @media (min-width: 480px)
        height: 50px
        padding-top: 14px
        width: 450px
    
    @media (min-width: 768px)
        height: 103px
        width: 738px
        padding-top: 14px

    @media (min-width: 1000px)
        height: 103px
        width: 905px
        padding-top: 18px

    @media (min-width: 1440px)
        height: 103px
        width: 1140px
        padding-top: 10px
    

.blocktwo
    background: #FFF
    display: flex
    align-items: center
    justify-content: space-between
    @media (min-width: 768px)
        margin-bottom: 35px
    
    @media (min-width: 1000px)
        margin-bottom: 30px
    
    @media (min-width: 1440px)
        margin-bottom: 26px

.boorivaLogo
    @media (min-width: 320px)
        margin-right: 77px
        min-width: 69px
        min-height: 16px
        order: -1
    
    @media (min-width: 480px)
        width: 82px
        height: 20px
    
    @media (min-width: 768px)
        margin-left: 95px
        width: 113px
        height: 29px
        order: 0
    
    @media (min-width: 1000px)
        margin-left: 135px
        width: 113px
        height: 29px
        order: 0
    
    @media (min-width: 1440px)
        margin-left: 95px
        width: 160px
        height: 40px
        order: 0

.blockthree
    background: #FFF
    display: none
    justify-content: space-between
    @media (min-width: 1440px)
        width: 81px
        display: flex
        
    @media (min-width: 1000px)
        width: 90px
        display: flex
        
    
    @media (min-width: 768px)
        width: 80px
        display: flex
    
.wishlistIcon
    width: 20px
    height: 20px
    @media (min-width: 1440px)
        width: 24px
        height: 24px
    

.menu
    height: 100%
  


