.header{
    width: 100%;
    border-bottom: 1px solid #FDA3C4;
}
.block{
    height: 103px;
    @media (min-width: 768px){
        width: 738px;
    }
    @media (min-width: 1000px){
        width: 905px;
    }
    @media (min-width: 1440px){
        width: 1140px;
    }
}
.blocktwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boorivaLogo{
    margin-left: 35px;
}
.blockthree{
    display: flex;
    width: 81px;
}


