.categoryTitleSvg
    background-image: url(../../../assets/img/images/categoryTitleSvg.png)
    background-repeat: no-repeat
    background-color: lightgray
    background-position: -3.598px -555.709px

    background-size: 100.744% 479.936%
    
    
    @media (min-width: 320px)
        width: 320px
        height: 120px
        background-position: -3.598px -555.709px
     
       
    @media (min-width: 480px)
        width: 300px
        height: 125px
        background-position: -2.598px -555.709px
      

    @media (min-width: 768px)
        width: 514px
        height: 152px
        background-position: -3.598px -555.709px
        
    @media (min-width: 1000px)
        width: 674px
        height: 200px
        background-position: -3.598px -555.709px
        
    @media (min-width: 1440px)
        width: 919px
        height: 200px
        background-position: -3.598px -555.709px
        
        
      

        


.categoryTitle
    display: flex
    justify-content: space-between
    margin-top: 57px



    


    

   
