.wishListEmpty
    margin-top: 47px
.wishListEmptyText
    padding-top: 94px
    color: #000
    text-align: center
    font-family: Montserrat
    font-size: 18px
    font-weight: 400
    width: 561px
    height: 78px
    margin: 0 auto
.wishListEmptyHeart
    margin: 0 auto 
    width: 215px
    height: 194px
    transform: rotate(8.969deg)
.wishListTitle
    margin-bottom: 92px
.wishlistEmptyHeartTwo
    margin: 0 auto
    margin-top: -175px
    width: 213px
    height: 193px
    transform: rotate(9.100deg)



