.wishListPage
    margin-bottom: 100px
    padding: 0 10px
    @media (min-width: 320px)
        margin-top: 63px
    @media (min-width: 768px)
        margin-top: 140px
    @media (min-width: 1000px)
        margin-top: 140px
    @media (min-width: 1440px)
        width: 1148px
        margin-top: 160px
    

.sizeCard
    width: calc( 33% - 10px )

@media (max-width: 768px)
    .sizeCard
        width: calc( 50% - 10px )

.newItemsCards
    max-width: 1440px
    margin: 0 auto
    justify-content: space-between
    display: flex
    gap: 15px
    flex-wrap: wrap
    margin-top: 18px

@media (max-width: 768px)
    .newItemsCards
        flex-wrap: wrap

@media (max-width: 768px)
    .deleteCard
        display: none

