.wishListPage
    margin-bottom: 100px
    @media (min-width: 320px)
        width: 221px
        margin-top: 53px
    @media (min-width: 768px)
        width: 734px
        margin-top: 140px
    @media (min-width: 1000px)
        width: 897px
        margin-top: 140px
    @media (min-width: 1440px)
        width: 1148px
        margin-top: 160px

.sizeCard
    width: 320px

@media (max-width: 768px)
    .sizeCard
        width: calc( 50% - 10px )

.newItemsCards
    max-width: 1440px
    margin: 0 auto
    justify-content: space-between
    display: flex
    gap: 15px

@media (max-width: 768px)
    .newItemsCards
        flex-wrap: wrap

@media (max-width: 768px)
    .deleteCard
        display: none
