.wishListPage
    margin-bottom: 100px
    @media (min-width: 320px) 
        width: 221px
        margin-top: 53px
    @media (min-width: 768px) 
        width: 734px
        margin-top: 140px
    @media (min-width: 1000px) 
        width: 897px
        margin-top: 140px
    @media (min-width: 1440px) 
        width: 1148px
        margin-top: 160px


    

    