.NewItemsBox
    max-width: 1460px
    position: relative
    margin: 0 auto
    padding: 0 10px

.newItemsCards
    max-width: 1440px
    margin: 0 auto
    justify-content: space-between
    display: flex
    gap: 15px

@media (max-width: 480px) 
    .newItemsCards 
        flex-wrap: wrap

.NewItemsButton
    display: flex
    justify-content: center
    align-items: center
    margin-top: 27px
    margin-bottom: 73px

@media (max-width: 1000px) 
    .NewItemsButton 
        margin-bottom: 60px
    

@media (max-width: 768px) 
    .NewItemsButton 
        margin-top: 62px
        margin-bottom: 53px
    

@media (max-width: 480px) 
    .NewItemsButton 
        margin-top: 15px
        margin-bottom: 50px
    

@media (max-width: 320px) 
    .NewItemsButton 
        margin-bottom: 40px
        margin-top: 15px
    

@media (max-width: 480px) 
    .NewItemsButtonColor 
        width: 159px
    

.NewItemsButtonText
    position: absolute
    top: 13px

@media (max-width: 480px) 
    .NewItemsButtonText 
        width: 105px

.sizeCard
    width: 320px

@media (max-width: 480px) 
    .sizeCard 
        width: calc( 50% - 10px )

@media (max-width: 768px) 
    .deleteCard
        display: none    

@media (max-width: 480px) 
    .deleteCard 
        display: block
